.todoIcon {
    color: red;
    padding: 0.521vw;
    width: 4.427vw;
    height: 4.167vw;
  }

  .header-container{
    margin-right: 50%;
    margin-left: 29%;
    width: 33.854vw;
    height: 5.208vw;
    background-color: transparent;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
  }

  .aboutButton{
    position: absolute;
    top: 2.5%;
    right: 40%;
  }

  .homeButton{
    position: absolute;
    top: 2.5%;
    right: 52%;
  }