<div class="todoformular-container">
  <div class="inputfield1">
    <input type="text" [(ngModel)]="name" [placeholder]="placeholderName" />
  </div>

  <div class="inputfield1">
    <input type="button" [(ngModel)]="time" [placeholder]="placeholderTime"/>
  </div>

  <div class="inputfield1">
    <input
      type="text"
      [(ngModel)]="description"
      [placeholder]="placeholderDescription"7
      (keydown.enter)="createToDo()"
    />
  </div>

  <div class="buttonContainer">
    <input type="button" [value]="createButton" (click)="createToDo()" />
  </div>
  <div
    class="toDoListContainer"
    *ngFor="let createToDoEntry of toDoList; let i = index"
  >
    <p>
      Task
      <input
        [disabled]="isDisabled"
        value="{{ createToDoEntry.feld1 }}"
      /><button (click)="deleteEntry(i)">Löschen</button>
    </p>
    <p>
      Priority
      <input [disabled]="isDisabled" value="{{ createToDoEntry.feld2 }}" />
    </p>
    <p>
      Finish
      <input [disabled]="isDisabled" value="{{ createToDoEntry.feld3 }}" />
    </p>
  </div>
</div>

<!-- <div class="dropdownPriority">
  <input class="ddButton" type="button" [(ngModel)]="time" [placeholder]="placeholderTime">
  <div class="dropdowncontent">
    <p>High</p>
    <p>Middle</p>
    <p>Low</p>
  </div>
</div> -->
