h1{
    position: absolute;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 4.688vw;
    top: 25%;
    left: 10%;
}

.toDoListContainer{
    position: absolute;
    left: 70%;
    border-style: solid;
    border-radius: 0.313vw;
    text-decoration: none;
    overflow: visible;
}

.inputToDo{
    width: 23.438vw;
    height: 2.344vw;
    background-color: transparent;
    border-radius: 0.313vw;
    margin: 0.260vw;
}

.textFieldContainer{
    position: absolute;
    top: 40%;
    left: 35%;
}

.inputToDoButton{
    position: absolute;
    background-color: transparent;
    left: 0.313vw;
    border-style: solid;
    border-radius: 0.313vw;
    text-decoration: none;
    color: black;
    font-size: 0.885vw;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    transition: 0.5s;
}

.inputToDoButton:hover{
    transition: font-size 0.5s ease;
    background-color: #8a8987;
}

.entryInput{
    border-style: 0.313vw;
    background-color: red;
}

label{
    display:block;
    text-align: right;
    margin: 0.521vw;
  }

  .deleteButton{
    background-color: transparent;
    border-style: solid;
    border-radius: 0.313vw;
    text-decoration: none;
    color: black;
    font-size: 0.885vw;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    transition: 0.5s;
  }

  .deleteButton:hover{
    transition: font-size 0.5s ease;
    background-color: red;
    
}

.editButton{
    background-color: transparent;
    border-style: solid;
    border-radius: 0.313vw;
    text-decoration: none;
    color: black;
    font-size: 0.885vw;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    transition: 0.5s;
  }

  .editButton:hover{
    transition: font-size 0.5s ease;
    background-color: #8a8987;
}

.saveButton{
    background-color: transparent;
    border-style: solid;
    border-radius: 0.313vw;
    text-decoration: none;
    color: black;
    font-size: 0.885vw;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    transition: 0.5s;
  }

  .saveButton:hover{
    transition: font-size 0.5s ease;
    background-color: #8a8987;
}


.interfelder{
    background-color: whitesmoke;
    width: 14.063vw;
    height: 1.563vw; border-style: solid;
    border-radius: 0.313vw;
    text-decoration: none;
}
