<h1>Insert <br> your Todo <br> here!</h1>
  <div class="textFieldContainer">
    <div class="inputfield1">
      <input class="inputToDo" type="text" [(ngModel)]="name" [placeholder]="placeholderName" />
    </div>

    <div class="inputfield1">
      <input class="inputToDo" type="text" [(ngModel)]="time" [placeholder]="placeholderTime" />
    </div>

    <div class="inputfield1">
      <input
        class="inputToDo"
        type="text"
        [(ngModel)]="description"
        [placeholder]="placeholderDescription"
        (keydown.enter)="createToDo()"
      />
    </div>
    <input class="inputToDoButton" type="button" [value]="createButton" [disabled]="isNotDisabled" (click)="createToDo()" />
  </div>
<div>
  
  </div>
  
  <div class="toDoListContainer">
    <div *ngFor="let createToDoEntry of toDoList; let i = index">
    <label>
      Task
      <input
      class="interfelder"
        [disabled]="isDisabled"
        value="{{ createToDoEntry.feld1 }}"
      />
    </label>
    <label>
      Priority
      <input class="interfelder" [disabled]="isDisabled" value="{{ createToDoEntry.feld2 }}" />
    </label>
    <label>
      Finish
      <input class="interfelder" [disabled]="isDisabled" value="{{ createToDoEntry.feld3 }}"/>
    </label>
    <button class="deleteButton" (click)="deleteEntry(i)">Delete!</button>
    <button class="editButton" (click)="editEntry()">Edit</button>
    <button class="saveButton" [hidden]="isHidden" (click)="saveEntry()">Save!</button>
  </div>
</div>
