.todo-button-design{
    height: 2.604vw;
    width: 10.417vw;
    background-color: transparent;
    border-style: solid;
    border-radius: 0.313vw;
    text-decoration: none;
    color: black;
    font-size: 1.042vw;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    transition: 0.5s;

}

.todo-button-design:hover{
    transition: font-size 0.5s ease;
    background-color: #8a8987;
}