<div class="container">

  <div class="inputfield1">
    <label test>Feld 1</label>
    <input type="text" #feld1>
  </div>

  <div class="inputfield1">
    <label test>Feld 2</label>
    <input type="text" #feld2>
  </div>

  <div class="inputfield1">
    <label test>Feld 3</label>
    <input type="text" #feld3>
  </div>
  
  <div class="buttonContainer">
    <input type="button" [value]="buttonDescription" (click)="createToDo(feld1.value, feld2.value, feld3.value)">
  </div>

  <div class="toDoListContainer" *ngFor="let list of toDoList, let i = index"> 
    <p>Feld 1 Value: <input [disabled]="isDisabled" value="{{feld1.value}}"><button (click)="deleteEntry(i)">Löschen</button></p>
    <p>Feld 2 Value: <input [disabled]="isDisabled" value="{{feld2.value}}"></p>
    <p>Feld 3 Value: <input [disabled]="isDisabled" value="{{feld3.value}}"></p>
  </div>
</div>